<div class="row">
  <%= form_for @meal_plan do |form| %>
    <% if @meal_plan.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@meal_plan.errors.count, "error") %> prohibited this meal_plan from being saved:</h2>

        <ul>
        <% @meal_plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class="col-md-6">
      <%= form.label :start_date %><br>
      <%= form.date_select :start_date %>
    </div>

    <div class="col-md-4">
      <%= form.label 'Number of days' %><br>
      <%= form.text_field :number_of_weeks, size: "3"%>
    </div>

    <div class="field">
      <%= form.submit 'Go' %>
    </div>
  <% end %>
</div>
