<p id="notice"><%= notice %></p>

<p>
  <strong>Budget:</strong>
  <%= @meal_plan.budget %>
</p>

<p>
  <strong>Week day:</strong>
  <%= @meal_plan.week_day %>
</p>

<%= link_to 'Edit', edit_meal_plan_path(@meal_plan) %> |
<%= link_to 'Back', meal_plans_path %>
