<div class="text-center">
  <h1>
    <% if @selected_meal_plan.previous.present? %>
      <%= link_to "<<", pages_home_path(prev: true) %>
    <% end %>
    Meal Plan
    <% if @selected_meal_plan.next.present? %>
      <%= link_to ">>", pages_home_path(next: true) %>
    <% end %>
  </h1>
  <%= @selected_meal_plan.week_days.first.date %> - <%= @selected_meal_plan.week_days.last.date %>
</div>
<div class="">
    <%= link_to "Add Meal", meals_path %> |
    <%= link_to "Meal Plans", meal_plans_path %> |
    <%= link_to "View Shopping List", meal_plan_shopping_list_path(@selected_meal_plan) %>
</div>
<hr>
<h3>What did you eat today?</h3>
<div class="row">
  <%= render 'meal_plans/meals', locals: {meal_plan: @selected_meal_plan}%>
</div>
<hr>
<h3>My Meal Plan</h3>
<div class="row">
  <%= link_to "daily" , pages_home_path(daily_view: true) %> |
  <%= link_to "weekly" , pages_home_path(weekly_view: true) %>
  <br>
  <% if @selected_meal_plan.present? %>
  <% if params[:daily_view].present? %>
  <%= render 'meal_plans/my_meal_plan', locals: {meal_plan: @week_days} %>
  <% elsif params[:weekly_view].present? %>
  <%= render 'meal_plans/my_meal_plan', locals: {meal_plan: @week_days} %>
  <% end %>
  <% else %>
  <%= link_to 'start a meal plan', new_meal_plan_path %>
  <% end %>
</div>
<hr>
<br><br>
<%= render 'user_meals/user_meal_list', locals: {meals: @my_meals}%>
