<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @week_day.date %>
</p>

<p>
  <strong>Meal:</strong>
  <% @week_day.meals %>
  <%= link_to 'add meal', user_meals_path, remote: true %>
</p>

<p>
  <strong>Eaten:</strong>
  <%= @week_day.eaten %>
</p>

<%= link_to 'Edit', edit_week_day_path(@week_day) %> |
<%= link_to 'Back', week_days_path %>

<div class="page-loader">

</div>
